<h1>
  <%= t('user_name.title') %>
</h1>

<%= form_tag return_to: params[:return_to] do %>
  <input id="name" name="name" type="text" auto_complete="given-name" />

  <%= submit_tag(t('user_name.submit')) %>
<% end %>
