<% content_for :head do %>
  <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
<% end %>

<script>
  function recaptchaCallback() {
    document.forms[0].submit()
  }
</script>

<h2>
  <%= t('start_new_game.title') %>
</h2>

<%= form_with scope: :game, url: games_path, local: true do %>
  <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LcW2IYUAAAAAFEeOJ3l3NqbxntRM3nzR6JDLeAF"></div>
<% end %>
