<% content_for :head do %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
<% end %>

<script>
  function recaptchaCallback() {
    document.forms[0].submit()
  }
</script>

<h1>Start a new game!</h1>

<%= form_with scope: :game, url: games_path, local: true do %>
  <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6Ld4-4QUAAAAAGgxztfG-SBFdOtsuwQVFAJrnOSP"></div>
<% end %>
