<h1>Start a new game!</h1>

<%= form_with scope: :game, url: games_path, local: true do %>
  <label>
    <input id="age_child" name="age" type="radio" value="child" />
    Child
  </label>
  <label>
    <input id="age_child" name="age" type="radio" value="addd" />
    Addd
  </label>

  <%= submit_tag("Go!") %>
<% end %>
