<% content_for :head do %>
  <meta name="game-uid" content="<%= @game_uid %>">
  <meta name="vue-data" content="<%= @view_data.to_json %>">
<% end %>

<div id='vue-app'>
  <div v-if='player.joined'>
    <div v-if="game.status == 'to_name'">
      <p>Joined!</p>
      <p>Waiting for players:</p>
      <ol>
        <li v-for='player in game.players'>{{ player }}</li>
      </ol>
    </div>
    <div v-if="game.status == 'to_deal'">
      <p>Ready to deal!</p>
      <button v-if='player.admin' v-on:click='deal'>deal!</button>
    </div>
    <div>
      <p>Your hand:</p>
      <p class='card-set'>
        <span class='suit-set' v-for='cards in player.cards'>
          <span v-for='number in cards' v-bind:class="['pc', 'no-'+number]"></span>
        </span>
      <p>
    </div>
    <div v-if="game.status == 'to_bid'">
      <p>Ready to start bidding!</p>
      <button v-if='player.admin' v-on:click='start_bidding'>start_bidding!</button>
    </div>
    <div v-if="game.status == 'bidding'">
      <p>Bidding!</p>
      <p>Currently bidding: {{ game.players[game.current_bidder] }}</p>
      <p>Highest bid: {{ game.highest_bid }} by {{ game.players[game.highest_bidder] }}</p>
      <div v-if='game.current_bidder == player.index'>
        <button v-on:click='bid'>raise 5!</button>
        <button v-on:click='pass'>pass!</button>
      </div>
    </div>
    <div v-if="game.status == 'to_trump'">
      <p>Ready to trump!</p>
      <p>Widow set!</p>
      <p class='card-set'>
        <span class='suit-set' v-for='cards in game.widow_set'>
          <span v-for='number in cards' v-bind:class="['pc', 'no-'+number]"></span>
        </span>
      <p>
      <button v-if='game.highest_bidder == player.index' v-on:click='trump'>Trump!</button>
    </div>
    <div v-if="game.status == 'to_play'">
      <p>Ready to start the game!</p>
      <button v-if='player.admin' v-on:click='start_game'>Start the game!</button>
    </div>
    <div v-if="game.status == 'playing'">
      <p>Playing the game!</p>
      <p>Currently playing: {{ game.players[game.next_to_play] }}</p>
      <button v-if='game.next_to_play == player.index' v-on:click='play'>Play card!</button>
    </div>
    <div v-if="game.status == 'done'">
      <p>game is finished!</p>
    </div>
  </div>
  <div v-else>
    <button v-on:click='join'>Join!</button>
  </div>
<div>
