.pc:after {
  content: "\1F0A0";
  font-size: 5em;
  line-height: 0.9em;
  vertical-align: middle;
}

.pc.no-null { color: #aaa; }
.pc.disabled:after { filter: opacity(0.5); }

/* suits */
.suit-undefined:after   { content: "\22A1"; font-size: 2em; }
.suit-hearts:after   { content: "\2665"; font-size: 2em; color: indianred; }
.suit-spades:after   { content: "\2660"; font-size: 2em; }
.suit-diamonds:after { content: "\2666"; font-size: 2em; color: indianred; }
.suit-clubs:after    { content: "\2663"; font-size: 2em; }

/* hearts */
.pc.no-0:after  { content: "\1F0B2"; color: indianred; }
.pc.no-1:after  { content: "\1F0B3"; color: indianred; }
.pc.no-2:after  { content: "\1F0B4"; color: indianred; }
.pc.no-3:after  { content: "\1F0B5"; color: indianred; }
.pc.no-4:after  { content: "\1F0B6"; color: indianred; }
.pc.no-5:after  { content: "\1F0B7"; color: indianred; }
.pc.no-6:after  { content: "\1F0B8"; color: indianred; }
.pc.no-7:after  { content: "\1F0B9"; color: indianred; }
.pc.no-8:after  { content: "\1F0Ba"; color: indianred; }
.pc.no-9:after  { content: "\1F0Bb"; color: indianred; }
.pc.no-10:after { content: "\1F0Bd"; color: indianred; }
.pc.no-11:after { content: "\1F0Be"; color: indianred; }
.pc.no-12:after { content: "\1F0B1"; color: indianred; }

/* spades */
.pc.no-13:after { content: "\1F0A2"; }
.pc.no-14:after { content: "\1F0A3"; }
.pc.no-15:after { content: "\1F0A4"; }
.pc.no-16:after { content: "\1F0A5"; }
.pc.no-17:after { content: "\1F0A6"; }
.pc.no-18:after { content: "\1F0A7"; }
.pc.no-19:after { content: "\1F0A8"; }
.pc.no-20:after { content: "\1F0A9"; }
.pc.no-21:after { content: "\1F0Aa"; }
.pc.no-22:after { content: "\1F0Ab"; }
.pc.no-23:after { content: "\1F0Ad"; }
.pc.no-24:after { content: "\1F0Ae"; }
.pc.no-25:after { content: "\1F0A1"; }

/* diamonds */
.pc.no-26:after { content: "\1F0C2"; color: indianred; }
.pc.no-27:after { content: "\1F0C3"; color: indianred; }
.pc.no-28:after { content: "\1F0C4"; color: indianred; }
.pc.no-29:after { content: "\1F0C5"; color: indianred; }
.pc.no-30:after { content: "\1F0C6"; color: indianred; }
.pc.no-31:after { content: "\1F0C7"; color: indianred; }
.pc.no-32:after { content: "\1F0C8"; color: indianred; }
.pc.no-33:after { content: "\1F0C9"; color: indianred; }
.pc.no-34:after { content: "\1F0Ca"; color: indianred; }
.pc.no-35:after { content: "\1F0Cb"; color: indianred; }
.pc.no-36:after { content: "\1F0Cd"; color: indianred; }
.pc.no-37:after { content: "\1F0Ce"; color: indianred; }
.pc.no-38:after { content: "\1F0C1"; color: indianred; }

/* clubs */
.pc.no-39:after { content: "\1F0D2"; }
.pc.no-40:after { content: "\1F0D3"; }
.pc.no-41:after { content: "\1F0D4"; }
.pc.no-42:after { content: "\1F0D5"; }
.pc.no-43:after { content: "\1F0D6"; }
.pc.no-44:after { content: "\1F0D7"; }
.pc.no-45:after { content: "\1F0D8"; }
.pc.no-46:after { content: "\1F0D9"; }
.pc.no-47:after { content: "\1F0Da"; }
.pc.no-48:after { content: "\1F0Db"; }
.pc.no-49:after { content: "\1F0Dd"; }
.pc.no-50:after { content: "\1F0De"; }
.pc.no-51:after { content: "\1F0D1"; }
